@import url('https://fonts.googleeapis.com/css?family=Montserrat:500');




/*Custom Design Setting for our properties, wiill update as needed for styling*/
:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;
    --clr-light: #fff;
    --clr-dark:#303030;
    --clr-accent: #00afb9;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,15)


}
/*Edits to the body of HTML for social media icons*/
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(315deg, #ffffff, #00afb9);
}
/*Wrapper for social icons*/
.wrapper{
    display: inline-flex;
}
.wrapper .icon{
    margin:0 20px;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    position:relative;
    z-index: 2;
    cursor: pointer;
}
.wrapper .icon span{
    position: relative;
    height: 40px;
    width: 40px;
    display: block;
    background:#fff;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 5px 5px #00afb9;
}
.wrapper .icon span i{
    font-size: 25px;
    line-height: 45px;
}
.wrapper .icon .tooltip{
    position: absolute;
    top: 30px;
    background: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 5px 5px #00afb9;
    opacity: 0;
    pointer-events:none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265,1.55);
}
.wrapper .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}
.wrapper .icon:hover span
.wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px var(--clr-dark);
    

}
.wrapper .icon .tooltip::before{
    position:absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

@media (min-width: 800px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3:1.5rem;
        --fs-body: 1.125rem;
    }
}

body{
    background: var(--clr-light);
    /*Will use to insert highlight points */
    color:var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height:1.6 ;
}
section{
    padding:5em 2em;
}

img{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: scale-down;
}

strong{
    font-weight: var(--fw-bold);
}
.focus{
    outline:3px solid #00afb9;
    outline-offset: 3px;
}



/*Typography Element selector types */

h1,
h2,
h3{
    line-height: 1.1;
    margin:0;
}
h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

.section__head{
    margin-bottom: .23em;

}
.section__head--intro{
    margin: 0;
    font-size:var(--fs-h3);

}

.section__head--intro strong{
    display: block;
}

.section__subtitle--intro,
.section__subtitle--about{
    background: #00afb9;
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom:1em ;
}
/*Introduction Section*/
.intro{
    position:relative;
}

.intro__img{
    box-shadow: var(--bs) ;
}

@media (min-width:600px){
    .intro{
        display: grid;
        width:min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
         "img head"
         "img subtitle";
         grid-template-columns:min-content max-content ;
    }
    .intro__img{
        grid-area: img;
        min-width:250px;
        position: relative;
        z-index: 2;
    }
    .section__subtitle--intro{
       align-self: start;
       grid-column: -1/1;
       grid-row: 2;
       text-align: right;
       position: relative;
       left: -1.5em;
       width:calc(100% + 1.5em);
    }
}
/*About Me*/

.about-me{
    max-width: 1000px;
    margin: 0 auto;
}
.about-me__img{
    box-shadow:var(--bs) ;
}
@media (min-width: 600px){
    .about-me{
        display: grid;
        /*Lets adjust image as we go to*/
        grid-template-columns: 1fr 400px;
        grid-template-areas:
        "title img" 
        "subtitle img"
        "text img";
        grid-column-gap:2em;

}
.section__head--about{
    grid-area: title;
}

.section__subtitle--about{
    grid-column: 1/-1;
    grid-row: 2;
    position: relative;
    left:-1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
}
    .about-me__img{
        grid-area: img;
        position:relative;
        z-index: 2;
    }
}

/*Projects*/
/*My projects completed*/
.my-projects{
    background:var(--clr-dark);
    color:var(--clr-light);
    text-align: center;
}

/*Each of our grids will have at minimal 300px-Will change after more projects are added*/
.project__item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    /*A change views  to keep the projects in one frame*/
}
.project__item{
    background: #00afb9;
    overflow: hidden;
}
.project__img{
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}
.portfolio__img:hover{
    transform:scale(1.2);
    opacity: .75;
}


/*Contact Form*/
.container{
       width: 90%;
       max-width: 500px;
       margin: 0 auto;
       padding: 20px;
       box-shadow: 0px 0px 20px #00afb9;
       margin-bottom: 20px;
       font-family: sans-serif; 
}

 .form-group{
     width:100%;
     margin-top: 20px;
     font-size: 20px;
 }
 .form-group input,
 .form-group textarea{
     width: 100%;
     padding: 5px;
     font-size: 18px;
     border: 1px solid rgba(128, 128, 128, 0.199);
     margin-top: 5px;
 }

 textarea{
     resize: vertical;
 }
button[type="submit"]{
    width: 100%;
    border:none;
    outline:none;
    /*Will possibly decrease padding? Review upon next revision*/
    padding:20px;
    font-size: 24px;
    border-radius: 8px;
    font-family: sans-serif;
    color:var(--clr-dark);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s ease background-color;
}
button[type="submit"]:hover{
    background-color:#c0fdfb ;
}
#status{
    width:90%;
    max-width:500px; ;
    text-align: center;
    padding: 10px;
    margin:0 auto;
    border-radius: 8px;
}
#status.success{
    background-color:var(#00afb9);
    animation:status 4s ease forwards;
}
#status.error{
    background-color:var(red);
    animation:status 4s ease  forwards;
}
@keyframes status{
    0%{
        opacity: 1;
        pointer-events:all ;

    }
90%{
    opacity: 1;
    pointer-events:all;
 }
 100%{
     opacity: 0;
     pointer-events: none;
 }
}

    /* {
    height:100vh;
    width: 100%;
    background-color: ;
    display: flex;
    align-items: center;
    justify-content: center;
} */





/*Footer*/

.footer{
background: #111;
color: #00afb9;
text-align: center;
padding: 2.5em 0;
}

.footer a{
    color: inherit;
    text-decoration: none;
}
.footer__link{
    font-size: var(--fs-h3);
    font-weight:var(--fw-bold) ;
}
.footer__link:hover{
    opacity: .7;
}
.footer__link:hover{
    text-decoration: underline;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

/*Logo?*/
.logo{
    position: fixed;
    top: 0;
    left: 0;
}
.Navbar{
    order: 1;
}

.Navbar{
    list-style: none;
}


.Navbar li{
    display: inline;
    padding: 0px 20px;
}
.Navbar li a{
    transition: all 0.3s ease 0s;
}
.Navbar li a:hover{
    color: #00afb9;
}

button{
    
    padding: 9px 25px;
    background:#00afb9;
    border: none;
    border-radius: 50px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    
    letter-spacing: 2px;
    
    transition: transform 200ms ease-in-out;
    
}
button:hover{
background-color: #00afb9; 
transform:scale(1.1);
}
  

/*Image resizing*/
img.resize{
    max-width: 25%;
    max-height: 25%;
}


























